body {
    background-color: rgb(255, 255, 255);
}

div {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-title {
    text-align: center;
    font-family: "Segoe UI";
    font-weight: bolder;
}

.prompt {
    font-family: Typograph Pro;
    font-weight: normal;
    text-align: center;
}

.message {
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: typograph pro;
    font-weight: light;
}

#user-input {
    font-family: typograph pro;
    font-weight: light;
    text-align: center;
}

form {
    text-align: center;
    font-family: Typograph Pro;
    font-weight: light;
    width: 100%;
}

input {
    width: 65%;
    height: 15%;
    font-size: 30px;
    font-family: typograph pro;
    font-weight: light;
    border-radius: 10px;
    transition: transform 0.2s;
}

input:focus {
    outline: none;
}

input:hover {
    transform: scale(1.15);
}

button {
    margin-top: 25px;
    margin: 25px;
    background-color: #5bbe5e;
    transition: transform 0.2s;
    font-family: heavitas;
    padding: 15px 32px;
    display: inline-block;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
}

button:hover {
    transform: scale(1.15);
    background-color: #84e688;
}

#submit {
    background-color: rgb(230, 87, 87);
}

#submit:hover {
    background-color: rgb(255, 122, 122);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(177, 191, 255);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Heavitas;
    font-size: 24px;
}

li a:hover {
    background-color: rgb(217, 224, 255);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: lightgray;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }