{% extends "layout.html" %}
{% block content %}
    <div class="index">
        <h1 class="page-title">Keyboard type fast</h1>
    </div>
    <div>
        <h1 class="page-title">Your input is</h1>
        <h2 class="prompt" id='prompt'>{{prompt}}</h2>
    </div>
    <div align="center">
        <p id="message" class="message"></p>
        <p id="accuracy" class="message"></p>
        <p id="time" class="message"></p>
        <p id="wps" class="message"></p>
        <!--<p id="user-input"></p>-->
        <form method="POST" autocomplete="off">
            <input id='input' name="text" spellcheck="false">
        </form>
        <button onclick="getNewPrompt()" id="button">New Prompt</button>
        <button onclick="submitScore()" id="submit">Submit Score</button>
        
    </div>

    <div align="center" class="hiscores">
        
        <form method="POST" autocomplete="off">
            <label for="entername" id="lbl">Your name:</label>
            <input id="entername" spellcheck="false">
            <button onclick="submit()" id="submission">Submit</button>
        </form>
        
        
    </div>
    <script src="jquery-3.5.1.js"></script>
    <script>
        
        document.getElementById("entername").hidden = true;
        document.getElementById("lbl").hidden = true;
        document.getElementById("submission").style.visibility = "hidden";

        var input=document.getElementById("input");
        var prompt = document.getElementById('prompt').innerHTML;
        var err = 0;
        var n = 0;
        start = 0;
        document.getElementById('submit').disabled = true;
        input.addEventListener("keyup", function(event){
            //event.preventDefault();
            n++;
            if(n===1)
            {
                start = Date.now();
            }
            var c = input.value;
           // document.getElementById("user-input").innerHTML=c;
            var sub = prompt.substring(0, c.length);
             if(c === sub){
                document.getElementById("input").style.color="green";
            }
            
            if(c != sub){
                document.getElementById('message').innerHTML = "Wrong input!";
                if(!event.keyCode === 8)err++;
              //  document.getElementById("user-input").style.color="red";
                document.getElementById("input").style.color="red";
            }


            else if(c === prompt)
            {
                var end = Date.now();

                var timeElapsed = Math.round(((end - start)/1000)*100)/100;
                var wps = Math.round((prompt.split(' ').length/timeElapsed)*100)/100;
                let wpm = Math.round(wps *60*100)/100;
                var accuracy = Math.round(((prompt.length - err)/prompt.length)*100)
                document.getElementById('message').innerHTML = "Congrats!";
                document.getElementById('accuracy').innerHTML = "Accuracy: " + accuracy + "%";
                document.getElementById('time').innerHTML = "Time: " + timeElapsed + " s";
                document.getElementById('wps').innerHTML = "Speed: " + wps + " wps" + " (" + String(wpm) + " wpm" + ") ";
                document.getElementById('message').style.color="green";
                document.getElementById('accuracy').style.color="green";
                document.getElementById('time').style.color="green";
                document.getElementById('wps').style.color="green";
                
                document.getElementById('submit').disabled = false;
                document.getElementById('input').disabled = true;

            }
            else
            {
                //document.getElementById("user-input").style.color="green";
                document.getElementById('message').innerHTML = "";
            }
        });

        function getNewPrompt(){
            location.reload();
        }
        
        function submitScore(){
            document.getElementById("entername").hidden = false;
            document.getElementById("lbl").hidden = false;
            document.getElementById("submission").style.visibility = "visible";
        }
        
        function submit(){
            let time = Number(document.getElementById("time").innerHTML.split(" ")[1]);
            let name = document.getElementById("entername").value;
            
            var newUser = {"name": name, "time": time};
            

            $.post("/submit-score", newUser, function(data) {
            });
        }
    </script>
{% endblock %}