<!DOCTYPE html>
<html>
    <head>
        <title class="app-name">Typing Speed Test</title>
        <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,700;1,200;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
        <link rel="icon" href="https://img.icons8.com/ios/452/keyboard.png">
    </head>
    <body oncontextmenu="return false">
        <header>
            <div class="container">
                <strong>
                    <nav>
                        <ul class="menu">
                            <li><a href="{{ url_for('home') }}">HOME</a></li>
                            <li><a href="{{ url_for('second.leaderboard') }}">LEADERBOARD</a></li>
                        </ul>
                    </nav>
                </strong>
            </div>
        </header>
        <div class="contianer">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
