<!DOCTYPE html>
<html>
    <head>
        <title class="app-name">Keyboard type very fast</title>
        <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel='stylesheet'>
    </head>
    <body>
        <header>
            <div class="container">
                <strong>
                    <nav>
                        <ul class="menu">
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('second.leaderboard') }}">Leaderboard</a></li>
                        </ul>
                    </nav>
                </strong>
            </div>
        </header>
        <div class="contianer">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>